<div class="bg-[#edf1f5] w-full h-screen " >
  <div class="flex flex-row justify-center ">
    <div class="w-full md:w-2/3 h-[32rem]  bg-white my-28 custom-blue-shadow rounded-lg bg-figure">
      <div class="grid grid-cols-1  md:grid-cols-3 md:grid-rows-2  grid-rows-4 font-bold h-full">
        <div class="md:col-span-1 md:row-span-2 row-span-1 grid justify-items-end md:justify-items-center md:m-auto mr-10 ">
          <h1 class="text-[#727374] font-bold text-3xl md:text-6xl font-serif italic mr-10">
            Foro
          </h1>
          <img src="assets/logo-alural.svg" class="w-22  ml-12   " />
        </div>
        <div class="md:col-start-2 md:col-end-4 row-span-2 ">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    </div>
  </div>

